
@model ContactInfo

<form method="post">
<input asp-for="FirstName" placeholder="First Name"/><br/>
<input asp-for="LastName" /><br/>
<input asp-for="EmailId" /><br/>
<input asp-for="MobileNo" /><br/>
<input asp-for="Designation" /><br/>

<select asp-for="CompanyId">
@foreach(var c in ViewBag.Companies){<option value="@c.CompanyId">@c.CompanyName</option>}
</select>

<select asp-for="DepartmentId">
@foreach(var d in ViewBag.Departments){<option value="@d.DepartmentId">@d.DepartmentName</option>}
</select>

<button type="submit">Save</button>
</form>
