
@model ContactInfo
<form method="post" action="/contact/delete">
<input type="hidden" name="ContactId" value="@Model.ContactId"/>
<p>Are you sure?</p>
<button type="submit">Yes Delete</button>
</form>
